
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1, h2{
    font-weight: normal;
    font-size: 80px;
    position: relative;
    margin: 20px 0;
}

h2 {
    font-size: 50px;
}
h1::before{
    content: '';
    position: absolute;
    width: 510px;
    height: 3px;
    background-color: rgb(34, 148, 255);
    bottom: -16px;
    left: 50%;
    transform: translatex(-250px);
    animation: animate 4s linear infinite;
    margin: 5px;
}
@keyframes animate{
    50%{
        width: 0px;
    }
    100%{
        width: 510px;
    }
    100%{
        width: -510px;
    }
}
.top-content{
    background-color: rgba(183, 226, 255, 0.171);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 0px;
    box-shadow: 0px 1px 5px;
}

.top-content-links {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

h3{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 152, 253, 0.493);
    line-height: 40px;
    padding: 0 50px;
    color:rgb(220, 248, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    line-height: 60px;
    font-size: 18px;
    color: rgb(34, 148, 255);
    cursor: pointer;
    transition: color .5s; 
}




a:active, a:visited, a {
    color: rgb(34, 148, 255);
    text-decoration: none;
}

a:hover{
    color: black;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fre);
    grid-gap: 20px;
}
.pic{
    position: relative;
    box-shadow: 2px 2px 4px lightgray;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -100%;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    height: 100%;
    transition: .3s;
}
.pic:hover:after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .photo-gallery .digital{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check2:checked ~ .container .photo-gallery .paintings{
opacity: 0;
transform: scale(0);
position: relative;
}




* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


/* About Me Page */

.about-me-text {
    padding: 20px 12px;
}



.photo-description {
    width: 100%;
}